body {
  background-color: #f9f7fe;
  font-family: "Ubuntu", sans-serif;
}
.weather-app {
  background: white;
  border-radius: 16px;
  box-shadow: 0 3px 50px rgba(65, 50, 100, 0.08);
  margin: 45px auto;
  max-width: 600px;
  padding: 60px;
}
